*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #1D1B1B;
    color: #EC4D37;
    font-size: 1em;
    padding: 1em 0.2em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

.container img{
    margin-top: 2em;
    border: 2px solid #1D1B1B;
}

.container a{
    color: #ffffff;
    background: #1D1B1B;
    font-weight: bold;
    padding: 0.1em;
    width: 8em;
    text-align: center;
    margin-top: 1.9em;
    border: 2px solid #1D1B1B;
    text-decoration: 1em;
}

.container h1{
    border-bottom: 1px solid #1D1B1B;
    width: 100%;
    text-align: center;
    line-height: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1D1B1B;
    padding-bottom: 1px;
    border: 1px solid #f7fffc;
}
hr{
    border: 1px solid #f7fffc;
}

.container a:hover{
    border: 2px solid #1D1B1B;
    background-color: #ddfff000;
    color: #08460d;
}

hr{
    border: 1px solid #f7fffc;
}

.center{
    display: flex;
    justify-content: center;
}